.feedreader-title {
    spacing: .5em;
}

.feedreader-title-buttons {
    padding-left: .5em;
    spacing: .5em;
}

.feedreader-title-label {
    font-weight: bold;
}

.feedreader-item {
    spacing: 1em;
}
